<div class="container">
  <div class="leftMenuBar">
    <div class="discoverRecipes">
      <p>SIGN IN TO DISCOVER RECIPES</p>
    </div>

    <div class="inputs">
      <input type="text" placeholder="Email" />
      <input type="password" placeholder="Password" />
    </div>

    <div class="signIn">
      <button>SIGN IN</button>
    </div>
  </div>
  <div class="rightMenuBar">
    <div class="helloFriend">
      <p>Hello,Friend!!</p>
    </div>

    <div class="personalDetails">
      <p>Enter your personal details and start your journey with us</p>
    </div>

    <div routerLink="/signup" class="signUp">
      <button>SIGN UP</button>
    </div>
  </div>
</div>
