<div class="container">
  <div class="navbar">
    <div class="planlife">
      <p class="panlifeparagraph">Plan<span>life</span></p>
      <p class="heathymeals">Healthy meals, healthy life</p>
      <div class="createNew">
        <p><span>+</span> Create New</p>
      </div>
    </div>
    <div class="discover">
      <p class="hello">Hello sam,</p>
      <p class="recipes">Discover Recipes</p>
      <div class="search-bar">
        <input type="text" class="navbarsearchbar" placeholder="Search for recipes, ingredients and tags" />
        <i class="fas fa-search search-icon"></i>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="leftMenuBar">
      <p><i class="fas fa-bars"></i>MENU</p>
      <p><i class="fas fa-home"></i>Dashboard</p>
      <p><i class="fas fa-book"></i>My recipes</p>
  
      <p><i class="fas fa-user"></i>Your account</p>
      <p><i class="fas fa-cog"></i>Account</p>
      <p><i class="fas fa-sign-out-alt"></i>Logout</p>
    </div>

    <div class="rightMenuBar">
      <div class="image">
      <img src="assets/recipe.jpg" alt="Recipe image">
      </div>
      <p>Categories</p>
      <div class="categories">
        <div class="apetizers">
          <p>Apetizers and snacks</p>
        </div>
        <div class="baking">
          <p>Baking Recipes</p>
        </div>
        <div class="grilling">
          <p>Grilling</p>
        </div>
        <div class="chicken">
          <p>Chicken recipes</p>
        </div>
      </div>
      <p class="suggested">Suggested Recipes for you</p>
      <p class="searched">Because you serached for <span>Salad Dressing</span></p>
      <div class="suggestedRecipes">
        <div class="boiledEggs">
          <p>Boiled eggs</p>
        </div>
        <div class="boiledEggs">
          <p>Boiled eggs</p>
        </div>
        <div class="boiledEggs">
          <p>Boiled eggs</p>
        </div>
        <div class="boiledEggs">
          <p>Boiled eggs</p>
        </div>
      </div>
    </div>
  </div>
</div>
