<div class="container">
  <div class="navbar">
    <div class="planlife">
      <p class="panlifeparagraph">Plan<span>life</span></p>
      <p class="heathymeals">Healthy meals, healthy life</p>
      <div class="createNew" (click)="toggleForm()">
        <p><span>+</span> Create New</p>
      </div>
    </div>
    <div class="discover">
      <p class="hello">Hello sam,</p>
      <p class="recipes">Discover Recipes</p>
      <div class="search-bar">
        <input
          type="text"
          class="navbarsearchbar"
          placeholder="Search for recipes, ingredients and tags"
          [(ngModel)]="searchQuery"
        />
        <i class="fas fa-search search-icon"></i>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="leftMenuBar">
      <p><i class="fas fa-bars"></i>MENU</p>
      <p><i class="fas fa-home"></i>Dashboard</p>
      <p><i class="fas fa-book"></i>My recipes</p>

      <p><i class="fas fa-user"></i>Your account</p>
      <p><i class="fas fa-cog"></i>Account</p>
      <p><i class="fas fa-sign-out-alt"></i>Logout</p>
    </div>

    <div class="rightMenuBar">
      <div class="image">
        <img src="assets/recipe.jpg" alt="Recipe image" />
      </div>
      <p>Categories</p>
      <div class="categories">
        <!-- ngFor allows you to loop through a certain condition -->
        <div
          class="apetizers"
          *ngFor="let recipe of recipes"
          (click)="openRecipeDetails(recipe)"
        >
          <p>{{ recipe.name }}</p>
        </div>
      </div>

      <!-- pop up dialog -->
      <div
        class="recipe-details-dialog"
        [ngClass]="{ 'show-dialog': selectedRecipe }"
        (click)="closeRecipeDetails()"
      >
        <div class="dialog-content" (click)="$event.stopPropagation()">
          <h2>{{ selectedRecipe?.name }}</h2>
          <p>Description: {{ selectedRecipe?.description }}</p>
          <p>Ingredients: {{ selectedRecipe?.ingredients }}</p>
          <p>Cooking Instructions: {{ selectedRecipe?.cookingInstructions }}</p>
          <p>Preparation Time: {{ selectedRecipe?.preparationTime }}</p>
          <p>Servings: {{ selectedRecipe?.servings }}</p>
          <!-- Add other recipe details here -->
          <button (click)="closeRecipeDetails()">Close</button>
        </div>
      </div>

      <p class="suggested" *ngIf="searchQuery">Suggested Recipes for you</p>
      <p class="searched" *ngIf="searchQuery">
        Because you serached for <span>{{searchQuery}}</span>
      </p>
      <div class="suggestedRecipes" *ngIf="searchQuery">
        <div class="boiledEggs"  *ngFor="let recipe of recipes | search:searchQuery"  (click)="openRecipeDetails(recipe)"  >
          <p>{{recipe.name}}</p>
        </div>
      </div>

      <!-- Add recipe form -->
      <div class="overlay" *ngIf="showForm">
        <form class="recipeForm" (submit)="addRecipe()">
          <h2>Create New Recipe</h2>
          <label for="name">Name:</label>
          <input type="text" name="name" [(ngModel)]="name" required />

          <label for="description">Description:</label>
          <textarea
            name="description"
            [(ngModel)]="description"
            required
          ></textarea>

          <label for="ingredients">Ingredients:</label>
          <textarea
            name="ingredients"
            [(ngModel)]="ingredients"
            required
          ></textarea>

          <label for="cookingInstructions">Cooking Instructions:</label>
          <textarea
            name="cookingInstructions"
            [(ngModel)]="cookingInstructions"
            required
          ></textarea>

          <label for="preparationTime">Preparation Time:</label>
          <input
            type="text"
            name="preparationTime"
            [(ngModel)]="preparationTime"
            required
          />

          <label for="servings">Servings:</label>
          <input type="text" name="servings" [(ngModel)]="servings" required />

          <button type="submit">Add Recipe</button>
          <button type="button" (click)="cancelForm()">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>
